/*
=============== 
Fonts
===============
*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: #49a6e9;
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --ff-primary: 'Noto Sans TC', sans-serif;
  --ff-secondary: 'Noto Sans TC', sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-secondary);
  /* background: var(--clr-grey-10); */
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
  /* background-image: url(https://i.imgur.com/2nn48Zq.jpg); */
  background-color: #fff;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 1rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

.btn {
  text-transform: uppercase;
  background: var(--clr-primary-5);
  color: var(--clr-white);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: block;
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid var(--clr-primary-5);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}
.btn:hover {
  color: var(--clr-primary-5);
  background: var(--clr-primary-1);
  border-color: var(--clr-primary-1);
}

@media screen and (min-width: 576px) {
  .section-center {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    column-gap: 2rem;
  }
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}

.content {
  position: relative;
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: 10vh 10vh 70vh;
  justify-content: center;
  height: 100vh;
}
.search {
  display: flex;
  justify-content: center;
}
/* search form */
.search-form {
  position: absolute;
  text-align: center;
  width: 85vw;
  max-width: 500px;
  border-radius: 8px 8px 8px 8px;
  box-shadow: 0 0 5px -2px var(--clr-black);
  overflow: auto;
}

.inputWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem 0 0.5rem;
  background-color: var(--clr-white);
}

.noBox {
  border-radius: 15px 15px 15px 15px;
}

.inputWrapper .fa-search {
  cursor: pointer;
}

input {
  width: 100%;
  font-size: 1rem;
  border-color: transparent;
  padding: 0.5rem 0.5rem;
  outline: none;
}

input::placeholder {
  text-transform: capitalize;
  color: var(--clr-grey-3);
}
.search-box {
  width: 100%;
  text-align: left;
  cursor: default;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: var(--clr-white);
  padding-bottom: 4px;
  z-index: 1;
}

.hiddenBox {
  display: none;
}

.search-items {
  display: flex;
  flex-direction: column;
}
.search-items .noResult {
  text-align: center;
}

.search-data {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 2.5fr 2fr 1.5fr 1fr;
  align-items: center;
  column-gap: 1rem;
  padding: 0.25rem;
  padding-left: 1rem;
}
.search-data p {
  font-size: 1.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.search-data img {
  max-width: 100%;
  max-height: 100%;
}
.search-data .weatherIcon {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search-data .weatherIcon p {
  font-size: 0.5rem;
}
.search-data .far {
  margin-right: 1rem;
}

.search-box li:hover {
  background: var(--clr-grey-9);
}

/* weathers */
.weathers {
  position: relative;
}
.title {
  font-size: 2rem;
  text-align: center;
}

.weather {
  background: var(--clr-white);
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  transition: var(--transition);
  margin-bottom: 3rem;
  position: relative;
}
.weather:hover {
  box-shadow: var(--dark-shadow);
  transform: scale(1.005);
}
.weather img {
  width: 100%;
  display: block;
  border-radius: var(--radius);
  border: 10px solid var(--clr-white);
  transition: var(--transition);
  padding-top: 3rem;
  object-fit: cover;
}
.weather:hover img {
  filter: blur(2px) grayscale(50%);
}
.weather h3 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--clr-grey-7);
  color: var(--clr-white);
  padding: 0.5rem 1rem;
  text-align: center;
  margin-bottom: 0;
  text-transform: uppercase;
  font-family: monospace;
  font-size: 1.5rem;
  border-radius: var(--radius);
  white-space: nowrap;
}
.weather p {
  padding-bottom: 1.25rem;
  color: var(--clr-grey-5);
  font-size: 1.25rem;
  text-align: center;
}
.fas {
  padding-right: 1rem;
}

.singleWeather {
  display: grid;
  grid-template-columns: [column-1] 35vw [column-2] 35vw;

  width: 70vw;
  height: 80vw;
  background-color: #222;
}
.info-1 {
  width: 35vw;
  height: 50vw;
  background-color: green;
}
.info-2 {
  width: 35vw;
  height: 50vw;
  background-color: red;
}
.forecast {
  width: 70vw;
  height: 30vw;
  background-color: blue;
}
